*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
body
{
    background-image: url("../Image/background\ image.png");
    background-position: center;
    background-size: cover;
    color: rgb(3, 3, 78);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 35px;
    font-family:cursive;
}
img
{
    width: 200px;
    height: 250px;
    border-radius: 25px;
    box-shadow:  0 0 25px white;
    border: solid white;
}
.bottom
{

}
#join
{
    font-weight: bold;
}

